@{
    ViewBag.Title = "Sobre nosotros";
}

<head>
    <link href="~/css/about.css" rel="stylesheet" />
</head>
<body>
    <section>
        <div class="image">
            <!-- image here -->
        </div>

        <div class="content">
            <h2>Sobre nosotros</h2>
            <span><!-- line here --></span>

            <p>
                Somos una empresa dedicada a la administracion de todo 
                tipo de documentos personales y/o empresariales. 
                Nuestra garantia de exito y eficiencia ha hecho que grandes 
                empresas como Facebook, Google, Microsoft, Apple confien en 
                nosotros para organizar mejor sus documentos
            </p>

            <ul class="links">
                <li><a href="~/Home/Contact">Contactame</a></li>

                <div class="vertical-line"></div>

                <li><a href="~/Departamento/Index">Departamentos</a></li>

                <div class="vertical-line"></div>

                <li><a href="~/Documento/Index">Documentos</a></li>

                <div class="vertical-line"></div>

                <li><a href="~/Empleado/Index">Empleados</a></li>
            </ul>

            @*<ul class="icons">
                <li>
                    <i class="fa fa-twitter"></i>
                </li>
                <li>
                    <i class="fa fa-facebook"></i>
                </li>
                <li>
                    <i class="fa fa-github"></i>
                </li>
                <li>
                    <i class="fa fa-pinterest"></i>
                </li>
            </ul>*@
        </div>
    </section>
</body>
