@{
    ViewBag.Title = "Contactame";
}
<head>
    <link href="~/css/contacto.css" rel="stylesheet" />
</head>
<body>
    <div class="about">
        <div class="inner-section">
            <h1>Contactame</h1>
            <p class="text">
                Correo Electronico:
                <label>documentos@ggmil.com</label>
            </p>
            <p class="text">
                Telefono:
                <label>852-9632-8956</label>
            </p>
            <p class="text">
                Direccion:
                <label>Av. Mexico</label>
            </p>
            <div>
                <a class="btn btn-primary" href="~/Home/About">Sobre nosotros</a>
            </div>
        </div>
    </div>
</body>