
@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<form action="~/Departamento/ResultadoBusqueda" method="post">

    <input type="text" name="departamento" class="form-control" />
    <input type="submit" value="BUSCAR" class="btn btn-primary" />

</form>


